body {
  color: green;
  background-color: #EEE;
}

h1 {
  border-top: 4px solid #77EE77;
  border-bottom: 4px solid #77EE77;
  color: green;
  background-image: linear-gradient(to right, #EEE, #DDD, #EE9955);
  padding: 1rem;
  font-size: 2rem;
}

.nav {
  background-color: green;
  box-shadow: 1px 1px 1px #004400;
}
.nav .nav__link {
  font-family: "Trebuchet MS";
  font-size: 2rem;
  text-decoration: none;
  color: #EEE;
  padding: 2rem;
}
.nav .nav__link:hover {
  color: #EEEEEE66;
}

.component {
  background-color: #DDD;
  padding: 1rem;
  margin: 1rem;
  border: 1px solid #CCC;
  box-shadow: 1px 1px 1px #AABBAA;
}
.component .component__header {
  color: #111;
}
.component .component__story {
  color: green;
  font-size: 1rem;
}