body {
  color: green;
  background-color: #EEE;
}

h1 {
  border-top: 4px solid #77EE77;
  border-bottom: 4px solid #77EE77;
  color: green;
  background-image: linear-gradient(to right, #EEE, #DDD, #EE9955);
  padding: 1rem;
  font-size: 2rem;
}

h2 {
  color: #111111;
}

nav {
  background-color: green;
  box-shadow: 1px 1px 1px #004400;
}
nav a {
  font-size: 2rem;
  text-decoration: none;
  color: #EEEEEE;
  padding: 2rem;
}

.frame {
  background-color: #DDD;
  padding: 1rem;
  margin: 1rem;
  border: 1px solid #CCC;
  box-shadow: 1px 1px 1px #AABBAA;
}

.story {
  color: green;
  font-size: 1rem;
}