$greenFontColor: green;
$greenBorder: 4px solid #77EE77;
$darkGreen: #004400;
$offwhite: #EEE;
$sectionBackground: #DDD;
$lightGrayDividers: #CCC;
$mediumGrayBoxShadow: #AABBAA;
$redBrownGradient: #EE9955;
$headerColor: #111;

body {
  color: $greenFontColor;
  background-color: $offwhite;
}

h1 {
  border-top: $greenBorder;
  border-bottom: $greenBorder;
  color: $greenFontColor;
  background-image: linear-gradient(to right, $offwhite, $sectionBackground, $redBrownGradient);
  padding: 1rem;
  font-size: 2rem;
}

.nav {
  background-color: $greenFontColor;
  box-shadow: 1px 1px 1px $darkGreen;

  .nav__link {
    font-family: "Trebuchet MS";
    font-size: 2rem;
    text-decoration: none;
    color: $offwhite;
    padding: 2rem;
  }

  .nav__link:hover {
    color: #EEEEEE66;
  }
}

.component {
  background-color: $sectionBackground;
  padding: 1rem;
  margin: 1rem;
  border: 1px solid $lightGrayDividers;
  box-shadow: 1px 1px 1px $mediumGrayBoxShadow;

  .component__header {
    color: $headerColor;
  }

  .component__story {
    color: $greenFontColor;
    font-size: 1rem;
  }

  .character__name {
    color: black;
  }
}

.comic {
  text-align: center;
  width: 617px;
}

#image__comic {
  padding: 1rem;
  cursor: pointer;
}

.component__button--previous {
  cursor: pointer;
}

.component__button--next {
  cursor: pointer;
}

.list__container {
  text-align: center;
}

.list__container__links {
  list-style-type: none;
}

.list__container__links--all {
  text-decoration: underline;
  cursor: pointer;
  padding: 0.25rem;
}

.contact {
  list-style-type: none;
}

.contact__items {
  padding: 0.25rem;
}

// dart compile-sass.dart stylesheets/main.scss main.css
